<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <h1>Welcome, ?(SUBJECT)</h1>

  <table border="1" cellpadding="5">
    <thead>
      <th>No</th>
      <th>Subject Name</th>
      <th>Teachers</th>
      <th>Action</th>
    </thead>
    <% var i = 1
      data.forEach(r => { %>
    <tbody>
      <td><%= i %></td>
      <td><%= r.subject_name %></td>
      <td>Dogi</td>
      <td>
        <a href="">Edit</a> |
        <a href="">Delete</a>
      </td>
    </tbody>
    <% i++ }) %>
  </table>
  <a href="/subject/add" style="background:green; color:white; padding:5px; display:inline-block; text-decoration:none; border-radius:10px; margin:10px 0; font-size:15px">Add Subject</a>

  <br>

  <a href="/"> << back </a>

</body>
</html>
